<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<title>Clientes</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
	    	<div class="navbar-header">
	    		<h4>Entrevista JBQ</h4>
	    	</div>
	    </div>
	</nav>
	
	<section layout:fragment="conteudo">
		<p>Conteúdo Principal</p>
	</section>
	
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>